@model Health_Insurance.Models.Beneficiary

@{

    ViewData["Title"] = "Beneficiaries";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <h1 class="display-4 animated slideInDown mb-4">Add Beneficiaries</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="/User/Beneficiaries">Beneficiaries</a></li>
            </ol>
        </nav>
    </div>
</div>
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="bg-light rounded p-5">
                    <p class="d-inline-block border rounded-pill py-1 px-4">Policyholder Information</p>
                    <h1 class="mb-4">add beneficiary for health insurance</h1>
                    <p class="mb-4">Our Support Team is Ready to Assist You. For a Functional Contact Form, Visit <a href="https://htmlcodex.com/contact-form">https://htmlcodex.com/contact-form</a>.</p>
                    <form asp-action="Beneficiaries" asp-controller="User" enctype="multipart/form-data">
                            <div hidden>
                            <div class="form-group" hidden>
                                <label asp-for="BeneficiaryState" class="control-label"></label>
                                <input asp-for="BeneficiaryState" value="waiting" class="form-control" />
                                <span asp-validation-for="BeneficiaryState" class="text-danger"></span>
                            </div>
                            <input id="id" for="id" value=@ViewBag.UserId />
                            <div class="form-group" hidden>
                                <label asp-for="SubscriptionsId" class="control-label"></label>
                                <input asp-for="SubscriptionsId" value="@ViewBag.ID" class="form-control" />
                                <span asp-validation-for="SubscriptionsId" class="text-danger"></span>

                            </div>
                            <div class="form-group" hidden>
                                <label asp-for="DateBeneficiary" class="control-label"></label>
                                <input asp-for="DateBeneficiary" value="@DateTime.Now" class="form-control" />
                                <span asp-validation-for="DateBeneficiary" class="text-danger"></span>
                            </div>
                            </div>
                            
                        <div class="row g-3">
                            <div class="col-12">
                                <div class="form-floating">
                                    <input asp-for="BeneficiaryName" type="text" class="form-control" id="BeneficiaryName" placeholder="Beneficiary Name">
                                    <label for="BeneficiaryName">Beneficiary Name</label>
                                </div>
                            </div>
                          
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" asp-for="BeneficiaryRelation" class="form-control" id="BeneficiaryRelation" placeholder="Beneficiary Relation">
                                    <label for="BeneficiaryRelation">Beneficiary Relation</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="file" asp-for="ImageFile" class="form-control" id="ImageFile" placeholder="ImageFile">
                                    <label for="ImageFile"> Image proof</label>
                                </div>
                            </div>
                            
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" value="Index" type="submit">Add Request</button>
                            </div>
                        </div>
                    </form>
                </div>
                </div>
                </div>
                </div>
                </div>
                
@* 
<form asp-action="Beneficiaries" asp-controller="User" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="BeneficiaryName" class="control-label"></label>
        <input asp-for="BeneficiaryName" class="form-control" />
        <span asp-validation-for="BeneficiaryName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BeneficiaryRelation" class="control-label"></label>
        <input asp-for="BeneficiaryRelation" class="form-control" />
        <span asp-validation-for="BeneficiaryRelation" class="text-danger"></span>
    </div>
    <div class="form-group" hidden>
        <label asp-for="BeneficiaryState" class="control-label"></label>
        <input asp-for="BeneficiaryState" value="waiting" class="form-control" />
        <span asp-validation-for="BeneficiaryState" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImageFile" class="control-label"></label>
        <input asp-for="ImageFile" class="form-control" />
        <span asp-validation-for="ImageFile" class="text-danger"></span>
    </div>
    <div class="form-group" hidden>
        <label asp-for="SubscriptionsId" class="control-label"></label>
        <input asp-for="SubscriptionsId" value="@ViewBag.subscriptionID" class="form-control" />
        <span asp-validation-for="SubscriptionsId" class="text-danger"></span>
    </div>

    <div class="form-group" hidden>
        <label asp-for="DateBeneficiary" class="control-label"></label>
        <input asp-for="DateBeneficiary" value="@ViewBag.DateNow" class="form-control" />
        <span asp-validation-for="DateBeneficiary" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Add</button>
    </div>
</form>


 *@